/* .design{
    justify-content: center;
    display:flex;
    
} */
/* .offcanvas-start {
    width: 200px;
} */
a {
    font-size: 20px !important;
    text-decoration-line: none;
    color:black;
    margin: 10px;
}
a:hover{
    /* background-color: rgba(179, 187, 201, 0.774); */
    /* color: purple; */
}
/* .offcanvas .offcanvas-start .show{
  width: 238px !important;
} */
.side{
    background-color: transparent;
    color: blueviolet;
}
.side:hover{
    /* background-color: cadetblue; */
    /* color: black; */
}

.dropdown-menu {
    border: none;
}
.dropdown-menu.show{
    /* justify-items: center; */
    padding-left: 70px;
    display: grid;
}
.offcanvas{
    width:250px !important;
    justify-content:center
}